<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"/>
<head></head>
<body>
<script type="text/javascript" src="../static/wxpayjs/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../static/wxpayjs/qrcode.js"></script>
<script type="text/javascript" src="../static/wxpayjs/bootstrap.min.js"></script>
<div class="col-md-2">
	<a
		href="/toCreateCode">
		<img src="../static/imgs/cs10007.jpg" width="170" height="170"></img>
	</a>
	<p>
		<a
			href="/toCreateCode"
			style='color: green'>包包</a>
	</p>
	<p>
		<font color="#FF0000">商城价：&yen;30</font>
	</p>
</div>

<div class="col-md-2">
	<a
		href="/toCreateCode">
			<img src="../static/imgs/cs10007.jpg" width="170" height="170"></img>
	</a>
	<p>
		<a
			href="/toCreateCode"
			style='color: green'>连衣裙</a>
	</p>
	<p>
		<font color="#FF0000">商城价：&yen;40</font>
	</p>
</div>
<div class="col-md-2">
	<a
		href="/toCreateCode.jsp">
			<img src="../static/imgs/cs10007.jpg" width="170" height="170"></img>
	</a>
	<p>
		<a
			href="/toCreateCode"
			style='color: green'>帽子</a>
	</p>
	<p>
		<font color="#FF0000">商城价：&yen;60</font>
	</p>
</div>

<div class="col-md-2">
	<a
		href="/toCreateCode">
		<img src="../static/imgs/cs10007.jpg" width="170" height="170"></img>
	</a>
	<p>
		<a
			href="/toCreateCode"
			style='color: green'>毛衣</a>
	</p>
	<p>
		<font color="#FF0000">商城价：&yen;20</font>
	</p>
</div>

</body>